{% extends "election/layout.html" %}
{% block title %}
트리위저드 참가후보
{% endblock %}

{% block content %}
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>이름</B></td>
            <td><B>성별</B></td>
            <td><B>기숙사</B></td>
            <td><B>소개</B></td>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
        <tr>
            <td>{{ character.name }}</td>
            <td>{{ character.gender }}</td>
            <td><a href="dormitories/{{character.dormitory}}/">{{ character.dormitory }}</a></td>
            <td>{{ character.description }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>
{% endblock %}